# Orquestração e RAG
llama-index==0.10.20
llama-index-llms-bedrock>=0.1.4
llama-index-embeddings-bedrock>=0.1.1
llama-index-vector-stores-postgres>=0.1.6
llama-index-readers-file

# AWS e Banco de Dados
boto3>=1.34.26
psycopg2-binary>=2.9.9

# Interface e Visualização
streamlit==1.32.2
watchdog
tenacity>=8.1,<9

# Processamento de Documentos e Relatórios
fpdf2==2.7.8
pypdf
markdown-it-py

# Utilidades
python-dotenv==1.0.1